# Ignore environment files
**/.env
**/env

# Ignore Node.js related directories and files
node_modules/
npm-debug.log
yarn-error.log

# Ignore TypeScript compilation output
**/dist/
**/tsconfig.tsbuildinfo

# Ignore Nest.js specific directories
**/.nest/

# Ignore MongoDB specific files
**/*.log
**/*.local
